<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>MIT VGO</title>
    <link rel="stylesheet" href="stylesheets/home.css"> <!-- load fontawesome -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <h1> MIT Video Game Orchestra</h1>


        <h3>Useful links</h3>
        <a href="/practice">Practice room</a>

    <br>
    <img src="uploads/images/pokemon_workout.jpg" class="homepageimage" class="hom">
        <br>
        <a href="https://www.dropbox.com/sh/lj4c5p0lgk9kfkv/AABboKkYQqUJ85lYQsa3eCsOa?dl=0">Dropbox for Sheet Music</a>




    <!--<div class="jumbotron text-center">-->
        <!--<h1> MIT Video Game Orchestra</h1>-->

        <!--&lt;!&ndash;<p>Login or Register with:</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>&ndash;&gt;-->
    <!--</div>-->

</div>
</body>
</html>